apps/android_shell/android/app/libs/*.aar filter=lfs diff=lfs merge=lfs -text
apps/ios_shell/ios/Frameworks/Libcore.xcframework/**/Libcore filter=lfs diff=lfs merge=lfs -text
apps/macos_shell/macos/Runner/Frameworks/*.dylib filter=lfs diff=lfs merge=lfs -text
apps/windows_shell/windows/runner/resources/runtime/*.dll filter=lfs diff=lfs merge=lfs -text
apps/windows_shell/windows/runner/resources/runtime/*.exe filter=lfs diff=lfs merge=lfs -text
artifacts/releases/**/*.apk filter=lfs diff=lfs merge=lfs -text
artifacts/releases/**/*.aab filter=lfs diff=lfs merge=lfs -text
artifacts/releases/**/*.exe filter=lfs diff=lfs merge=lfs -text
artifacts/releases/**/*.msix filter=lfs diff=lfs merge=lfs -text
artifacts/releases/**/*.zip filter=lfs diff=lfs merge=lfs -text
